.Header {
    width: 2500px;
    height: 119px;
    position: relative;
}

.HeaderBackground {
    width: 1844px;
    height: 119px;
    left: 0px;
    top: 0px;
    position: absolute;
    box-shadow: 4px 4px 4px;
    filter: blur(4px);
}

.ProfileButton,
.MealsOfTheWeekButton,
.ViewFoodsButton,
.HomeButton {
    width: 105.88px;
    height: 39.70px;
    position: absolute;
}

.ProfileButton {
    left: 1711px;
    top: 43px;
}

.MealsOfTheWeekButton {
    left: 1594px;
    top: 43px;
}

.ViewFoodsButton {
    left: 1477px;
    top: 43px;
}

.HomeButton {
    left: 1360px;
    top: 43px;
}

.Rectangle5660,
.Rectangle5437,
.Rectangle5658,
.Rectangle5659 {
    width: 105.88px;
    height: 39.70px;
    position: absolute;
    border-radius: 86.82px;
}

.Rectangle5660,
.Rectangle5437,
.Rectangle5659 {
    background: #FFB800;
}

.Rectangle5658 {
    background: #087830;
}

.Profile,
.MealsOfTheWeek,
.ViewFoods,
.Home {
    position: absolute;
    color: black;
    font-size: 12px;
    font-family: Inter;
    font-style: italic;
    font-weight: 700;
    word-wrap: break-word;
}

.Profile {
    width: 54px;
    height: 15px;
    left: 28px;
    top: 12px;
}

.MealsOfTheWeek {
    width: 63px;
    height: 30px;
    left: 21px;
    top: 5px;
}

.ViewFoods {
    width: 83px;
    height: 23px;
    left: 14px;
    top: 12px;
}

.Home {
    width: 39px;
    height: 17px;
    left: 33px;
    top: 12px;
}

.search {
    width: 239px; 
    height: 40px; 
    padding-left: 16px; 
    padding-right: 16px; 
    padding-top: 12px; 
    padding-bottom: 12px; 
    background: white; 
    border-radius: 9999px; 
    overflow: hidden; 
    border: 1px #D9D9D9 solid;  
    align-items: center; gap: 8px;
    left: 1px;
}

.KitchenCityFoodCommunity {
    width: 692px;
    height: 51px;
    left: 110px;
    top: auto;
    position: absolute;
    font-size: 36px;
    font-family: Inter;
    font-weight: 900;
    word-wrap: break-word;
}

.KitchenCity {
    color: #FFB800;
}

.FoodCommunity {
    color: #087830;
}

.Logo1 {
    width: 79px;
    height: 73px;
}
