<!-- foodtest.hbs RENZO TESTING Purposes-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Select Food to Review</title>
</head>
<body>
  <h1>Select Food to Review</h1>
  <ul>
    <li><a href="/reviewtest?foodId=1&foodName=Pizza">Pizza</a></li>
    <li><a href="/reviewtest?foodId=2&foodName=Burger">Burger</a></li>
    <li><a href="/reviewtest?foodId=3&foodName=Sushi">Sushi</a></li>
  </ul>
</body>
</html>