.Header {
  width: 1923px;
  height: 119px;
  position: fixed;
  z-index: 1000;
}

.HeaderBackground {
  width: 1923px;
  height: 119px;
  left: 0px;
  top: 0px;
  position: fixed;
  filter: blur(4px);
  z-index: 999;
}

.ProfileButton {
  left: 1711px;
  top: 43px;
  z-index: 1000;
}

.MealsOfTheWeekButton {
  left: 1594px;
  top: 43px;
  z-index: 1000;
}

.ViewFoodsButton {
  left: 1477px;
  top: 43px;
  z-index: 1000;
}

.PollButton {
  left: 1360px;
  top: 43px;
  z-index: 1000;
}

.HomeButton {
  left: 1243px;
  top: 43px;
  z-index: 1000;
}

button {
  width: 105.88px;
  height: 39.70px;
  position: absolute;
  border-radius: 86.82px;
  background: #FFB800;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.active {
  background: #087830;
}

.Profile,
.MealsOfTheWeek,
.ViewFoods,
.Poll,
.Home {
  position: absolute;
  color: black;
  font-size: 12px;
  font-family: Inter;
  font-style: italic;
  font-weight: 700;
  word-wrap: break-word;
}

.Profile {
  width: 54px;
  height: 15px;
  left: 25px;
  top: 12px;
}

.MealsOfTheWeek {
  width: 63px;
  height: 30px;
  left: 21px;
  top: 5px;
}

.ViewFoods {
  width: 83px;
  height: 23px;
  left: 11px;
  top: 12px;
}

.Home {
  width: 39px;
  height: 17px;
  left: 33px;
  top: 12px;
}

.search {
  width: 239px;
  height: 40px;
  padding: 12px 16px;
  left: 1000px;
  top: 30px;
  position: absolute;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  z-index: 1000;
}

.navis{
  width: fit-content;
  align-items: end;
  row-gap: 8px;
}

.KitchenCityFoodCommunity {
  width: 692px;
  height: 51px;
  left: 34px;
  position: absolute;
  font-size: 36px;
  font-family: Inter;
  font-weight: 900;
  word-wrap: break-word;
  z-index: 1000;
}

.KitchenCity {
  color: #FFB800;
}

.FoodCommunity {
  color: #087830;
}

.Logo1 {
  top: auto;
  width: 79px;
  height: 73px;
  z-index: 1000;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  top: 150px; /* Adjust as needed to avoid overlap with the header */
}

.poll-options-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; /* Align items at the top */
  gap: 20px; /* Adds spacing between poll options */
  flex-wrap: wrap; /* Allows wrapping if the items overflow */
}

.poll-option {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poll-option label {
  font-size: 18px;
  font-family: Inter;
  font-style: italic;
  font-weight: 500;
}

.poll-option-img {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin: 10px auto;
}

.submit-button {
  background-color: #FFB800;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #087830;
  color: white;
}
