{{!< layouts/main }}

<h1>Edit Profile</h1>

<form action="/profile/edit/{{user.username}}" method="POST" enctype="multipart/form-data">
  <div>
    <label for="currentProfilePicture">Current Profile Picture:</label>
    <img src="{{user.profilePicture}}" alt="Current Profile Picture" style="max-width: 200px; max-height: 200px;">
  </div>
  <div>
    <label for="newProfilePicture">Update Profile Picture:</label>
    <input type="file" name="newProfilePicture" id="newProfilePicture" accept="image/*">
  </div>
  <div>
    <label for="description">Description:</label>
    <textarea name="description" id="description">{{user.description}}</textarea>
  </div>
  <button type="submit">Save Changes</button>
</form>
